{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="signup-wrapper">

    <!-- LEFT IMAGE 60% -->
    <div class="signup-left">

        <img src="{% static 'images/login-bg-new.jpg' %}"
             alt="Construction">

    </div>


    <!-- RIGHT FORM 40% -->
    <div class="signup-right">


        <div class="signup-title">

            <h1>Create Your Account</h1>

            <p>
                Join Construction Tracker and manage your projects efficiently.
            </p>

        </div>



        <div class="signup-card">


            <h2>
                Sign Up
            </h2>


            <form method="POST">

                {% csrf_token %}


                {% for field in form %}

                <div class="signup-field">


                    <label>

                        {{field.label}}


                        {% if field.name == 'password1' %}

                        <span class="info-btn"
                              onclick="togglePasswordHelp()">

                            <i class="bi bi-info-circle"></i>

                        </span>

                        {% endif %}


                    </label>



                    {{field}}



                    {% if field.name == 'password1' %}

                    <div id="password-help"
                         class="password-help">

                        {{field.help_text|safe}}

                    </div>

                    {% endif %}




                    {% for error in field.errors %}

                    <small class="text-danger">
                        {{error}}
                    </small>

                    {% endfor %}



                </div>


                {% endfor %}



                <!-- future email field -->
                <!--
                <div class="signup-field">

                    <label>Email</label>

                    <input type="email"
                           class="form-control"
                           placeholder="Enter email">

                </div>
                -->



                <button class="signup-submit">

                    <i class="bi bi-person-plus"></i>
                    Create Account

                </button>


            </form>



            <p class="login-link">

                Already have an account?

                <a href="{% url 'login' %}">
                    Login
                </a>

            </p>



        </div>


    </div>


</div>



<script>

function togglePasswordHelp(){

    let box=document.getElementById(
        "password-help"
    );


    if(box.style.display==="block"){

        box.style.display="none";

    }

    else{

        box.style.display="block";

    }

}

</script>


{% endblock %}